{% extends "base.html" %}

{% block content %}

<div class="container">
    <table id="stocks-table">
        <tr>
            <th>#</th>
            {% for round in rounds %}
                <th>{{ round }}</th>
            {% endfor %}
        </tr>
        {% for stock in stocks_table %}
        <tr>
            <td>{{ stock }}</td>
            {% for price in stocks_table[stock] %}
                <td>{{ price }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}